*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.container-imagen {
    width: 100%;
    height: 170px;
    background: linear-gradient(to right,
    black, rgba(254, 6, 196, 0.71)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


.container-imagen img {
    width: 160px;
    height: 160px;
    object-fit: cover; 
    border-radius: 50%;
}

        
        @media (max-width: 767px) {
            .container-imagen {
                height: 150px;
            }

            .container-imagen img {
                width: 120px;
                height: 120px;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            .container-imagen {
                height: 160px;
            }

            .container-imagen img {
                width: 140px;
                height: 140px;
            }
        }
        

.container_caption{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,
    black, rgba(254, 6, 196, 0.71)
    );
}

@media (max-width: 767px) {
    .container_caption {
        height: 100%;
        height: 150px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container_caption {
        width: 140px;
        height: 160px;
    }
}


.container_typing{
    animation: animacion 3.5s steps(25, end), transparent .5s step-end infinite alternate;
    width: 12.1en;
    white-space: nowrap;
    overflow: hidden;
    font-size: 25px;
    color: white;
    border-right: 3px solid;
}

@keyframes animacion{
    from {
        width: 0;
    }
    to {
        width: 100%; /* Ajusta esto al tamaño de tu texto */
    }
}

@keyframes transparent{
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

.border{
    border: solid;
}

.container_menu{
    display: grid;
    width: 100%;
    height: 100px;
    background: repeating-radial-gradient(circle,
    rgb(245, 149, 206), rgba(240, 179, 182, 0.71) 10%
    );
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "inicio biografia mascotas hobbies";
    align-items: center;
    justify-items: center;
}

#button_inicio,
#button_biografia,
#button_mascotas,
#button_hobbies {
    border-radius: 40px;
    font-size: 25px; 
    color: white;
    background-color: black;
    padding: 10px 20px; 
    text-align: center; 
    transition: all 0.3s ease;
}

#button_inicio:hover,
#button_biografia:hover,
#button_mascotas:hover,
#button_hobbies:hover {
    background-color: #FF69B4; 
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.8); 
    cursor: pointer;
}


#button_inicio{
    grid-area: inicio;

}

#button_biografia{
    grid-area: biografia;

}

#button_mascotas{
    grid-area: estudios;

}

#button_hobbies{
    grid-area: hobbies;

}

@media (max-width: 768px) {
    .container_menu {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "inicio biografia"
        "mascotas hobbies";
    }

    #button_inicio,
    #button_biografia,
    #button_mascotas,
    #button_hobbies {
        font-size: 18px; 
        padding: 8px 16px; 
    }
}


@media (max-width: 480px) {
    .container_menu {
        grid-template-columns: 1fr; 
        grid-template-areas: 
        "inicio"
        "biografia"
        "mascotas"
        "hobbies";
    }

    #button_inicio,
    #button_biografia,
    #button_mascotas,
    #button_hobbies {
        font-size: 16px; 
        padding: 6px 12px; 
    }
}


.container_img{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "img1 img2";
    background-color: aquamarine;
    z-index: 1;
}

#container_img1, #container_img2 {
    width: 100%;
    height: auto; 
    overflow: hidden;
}

#container_img1 {
    grid-area: img1;
    background-color: chocolate;
}

#container_img1 img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

#container_img2 {
    grid-area: img2;
    background-color: rgb(30, 66, 210);
}

#container_img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@media (max-width: 768px) {
    .container_img {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "img2";
        height: auto; 
    }

    #container_img1, #container_img2 {
        height: 600px; 
    }
}


@media (max-width: 1024px) and (min-width: 769px) {
    .container_img {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "img2";
        height: auto; /* Ajustar la altura según sea necesario */
    }

    #container_img1, #container_img2 {
        height: 400px; /* Ajustar la altura según sea necesario en tabletas */
    }
}

.container_biografia{
    display: grid;
    width: 100%;
    height: auto;
    background-color: rgb(84, 194, 234);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "contenido foto1 foto2";
    align-items: center;
    justify-items: center ;
}


#container_contenido,
#container_foto1,
#container_foto2 {
    font-size: 25px; 
    color: white;
    background-color: black;
    padding: 10px 20px; 
    text-align: center; 
    width: 100%;
    height: 300px;
}


#container_contenido{
    grid-area: contenido;
    width: 100%;
    height: 570px;
    color: rgb(255, 252, 252);
    background: linear-gradient(to right,
    black, rgba(254, 6, 196, 0.71)
    );
}

#container_foto1{
    grid-area: foto1;
    width: 100%;
    height: 570px;
    background: linear-gradient(to right,
    rgb(246, 242, 242), rgba(254, 6, 196, 0.71)
    );
}

#container_foto1 img {
    position: relative;
    width: 90%;
    top: 20px;
    object-fit: cover; 
}

#container_foto2{
    grid-area: foto2;
    width: 100%;
    height: 570px;
    background: linear-gradient(to right,
    rgb(232, 227, 227), rgba(254, 6, 196, 0.71)
    );
}

#container_foto2 img {
    position: relative;
    width: 90%;
    top: 50px;
    object-fit: cover; 
}


.container_mascotas{
    width: 100%;
    height: 580px;
    background-color: cornflowerblue;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.66);
    overflow: hidden;
    position: relative;
}

.carrusel{
    width: 100%;
    height: 20%;
    background-color: cadetblue;
    display: flex;
    
}


#container_carrucel_img{
    width: calc(100% / 4);
}

#container_carrucel_img img {
    position: relative;
    width: 100%;
    height: 400%;
    top: 70px;
    object-fit: cover;
    border-radius: 15px;
}


.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 40px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
}

.container_hobbies{
    background-color: red ;
}
